<footer>
    <ul>
        <li>
            Confidentialité
        </li>
        <li>Conditions légales</li>
        <li>CGV</li>
        <li>Contact</li>
    </ul>
    {# <p id="copy">
        © 2025 Celeste-It - Tous droits résevés</p> #}

</footer>
