<footer>
  <ul>
    {# <li><a href="{{ path('app_mentions') }}">Mentions légales</a></li> #}
    <li><a href="{{ path('app_cgv') }}">CGV</a></li>
    <li><a href="{{ path('app_confidentialite') }}">Confidentialité</a></li>
    <li><a href="{{ path('app_contact') }}">Contact</a></li>
  </ul>
</footer>
