{% extends 'base.html.twig' %}

{% block title %}Hello ProfilController!{% endblock %}

{% block body %}
 

 <h2>Créer un nouveau tableau</h2>
<form method="post" action="{{ path('app_tables_table') }}">
    <input type="text" name="titre_du_tableau" placeholder="Nom du tableau" required>
    <button type="submit">Créer</button>
</form>

{% endblock %}



{# 
 {% include 'tables/table.html.twig' %} #}
